block variables
- var path = self.htmlWebpackPlugin.options
- var pathToFile = (path.mode == 'development') ? "../../../source/" : ""
- var logoFile = "images/fotograf-slubny-warszawa-lublin-chelm.svg";

doctype html
html(lang="pl", dir="ltr")

    include ./../../includes/head.pug
    include ./../../includes/header.pug
    include ./../../includes/logo.pug
    include ./../../includes/menuItem.pug

    head
        +head(path.file)

    body
        //- include ./../../includes/preload.pug
        +header("about", true)

        main
            .container
                .text-info
                    h1 o mnie
            .container.grid-lg
                .columns
                    .column.hide-md
                        img(src=""+pathToFile+path.file.body.image+"", class="img-responsive hide-md img-shadow", alt="O mnie")
                    .column.text-center.text-info
                        !=path.file.body.mainText

            include ./../../includes/backToTop.pug

        include ./../../includes/footer.pug