figure {
  position: relative;
}

.effect-goliath {
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  background: $color-pink;

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color-white;
    text-transform: uppercase;
    @include font-size(18);
    backface-visibility: hidden;
    letter-spacing: 1px;

  }

  span {
    @include font-size(12);
    display: block;
  }

  img {
    transition: transform 0.35s;
    backface-visibility: hidden;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 20px;
    text-transform: none;

    @include breakpoint(889px) {
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(0, 50px, 0);
    }
  }

  &:hover {
    img {
      @include breakpoint(889px) {
        transform: translate3d(0, -80px, 0);
      }
    }

    p {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .zoom {
      transition: opacity 1s ease-out;
      transform: translate(0);
      opacity: 1;
    }
  }

  .zoom {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(9999px);
    opacity: 0;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.1);

    svg {
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50px;
    }
  }

}