$color-white: #FFF;
$color-black: #000;
$color-gray: #EEEEEE;
$color-gray-light: #A1A1A1;
$color-gray-dark: #353535;
$color-gray-darken: #1d1d1d;
$color-burgund: #c00000;
$color-red: #ff0000;
$color-pink: #df4e4e;


$width-article: 976px;
$hide-md: 896px;

$share-facebook: #3B5998;
$share-twitter: #1DA1F2;
$share-google: #DC4E41;