@import './global';
@import './form';
.info {
  margin-bottom: 20px;
  .phone {
    a {
      color: $color-gray-darken;
      text-decoration: none;
      position: relative;
      display: block;
      height: 30px;
      &:hover {
        text-decoration: underline;
        color: $color-burgund;
      }
    }
  }
}