@mixin control-transition() {
  transition: all 0.2s ease;
}

.form {
  &-group:not(:last-child) {
    margin-bottom: 10px;
  }

  &-input,
  &-label {
    display: block;
    line-height: 12px;
  }

  &-label {
    padding: 10px 0;
  }

  &-input {
    @include font-size(20);
    @include control-transition();
    padding: 6px;
    width: 100%;
    max-width: 100%;
    transition: all .2s ease;
    background: $color-white;
    border: 1px solid lighten($color-gray-light, 20%);
    border-radius: 3px;
    color: $color-gray-dark;
    outline: none;
    position: relative;

    &:focus {
      border-color: $color-burgund;
    }

    &::placeholder {
      color: $color-gray-light;
    }
  }

  .error {
    color: $color-burgund;

    input {
      border-color: $color-burgund
    }
  }

}

.btn {
  border: none;
  background: $color-gray-dark;
  color: $color-white;
  font-weight: 700;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    color: $color-gray-dark;
    background: $color-white;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, .57);
    transition: all 0.3s ease 0s;
  }
}

textarea,
input {
  box-sizing: border-box;
}