@import "./animation.scss";

.items-content {
  padding: 0;

  @include breakpoint(470px) {
    padding: 0 5px;
  }
}

.items {
  max-width: 1800px;
  margin: auto;

  .item {
    width: 100%;
    padding: 2px;

    @include breakpoint(470px) {
      width: calc(50% - 4px);
    }

    @include breakpoint(890px) {
      width: calc(25% - 4px);
    }
  }
}