body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.6;
  color: $black;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  background-color: $white;
}

a {
  text-transform: uppercase;
  margin: 2px 5px 2px;
  text-decoration: none;
  color: $black;
  &:hover {
    border-bottom: 2px solid red;
  }
}

.active {
  border-bottom: 2px solid red;
}

.responsive {
  width: 100%;
  max-width: 1200px;
  height: auto;
}
