html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}