.parallax-thumbnail {
  height: 40vw;
  position: relative;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/parallax/images.jpg');

  @include breakpoint(xl) {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.please-scroll {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  cursor: pointer;

  &>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: $color-white;
    letter-spacing: 2px;

    &:hover,
    &:focus,
    &:active {
      color: $color-white;
      opacity: 0.8;
    }

    &.active {
      opacity: 0.8;
    }
  }

  @include breakpoint(lg) {
    display: block;
  }

  .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 10px;
    border: 3px solid $color-white;
    border-radius: 23px;

    &>* {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: $color-white;
      border-radius: 50%;
      animation: ani-mouse 2.5s linear infinite;
    }
  }
}