.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10000;
	visibility: hidden;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: #a0a0a0;
	transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader {
	visibility: visible;
	opacity: 1;
}

.circle {
	background-color: #000;
	height: 10px;
	width: 10px;
	margin: 5px;
	border-radius: 50%;
	display: inline-block;
	animation: stretchdelay 0.7s infinite ease-in-out;
}

.preloader .circle:nth-child(1) {
	animation-delay: -0.6s;
}

.preloader .circle:nth-child(2) {
	animation-delay: -0.5s;
}

.preloader .circle:nth-child(3) {
	animation-delay: -0.4s;
}

.preloader .circle:nth-child(4) {
	animation-delay: -0.3s;
}

@keyframes stretchdelay {
	0%,
	40%,
	100% {
		transform: translateY(-10px);
	}
	20% {
		transform: translateY(-20px);
	}
}