.share-button {
  position: fixed;
  right: 12px;
  top: 195px;
}

.about,
.contact {
  .share-button {
    top: 12px;
  }
}

.share {
  &-button {
    overflow: hidden;
  }

  &-icon,
  &-btn {
    width: 42px;
    height: 42px;
  }

  &-icon {
    fill: #FFF;
    border: 0;
  }

  &-btn {
    cursor: pointer;
    display: block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background-color: transparent;
    margin-bottom: 3px;

    &-btn__hidden {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      overflow: hidden;
    }

    &-btn__wrapper {
      position: absolute;
    }

  }
}

.btn {
  &-facebook {
    background-color: $share-facebook;
  }

  &-twitter {
    background-color: $share-twitter;
  }
}