footer.footer.text-center
    p.cookie Strona używa plików cookies. Brak zmiany ustawień przeglądarki oznacza zgodę na ich użycie.
    p.copyright Copyright © <span class="date-footer"></span> by 
        a(href="//kody.wig.pl", rel="author noopener", target="_blank") kody.wig.pl