mixin head(data)
    link(rel="dns-prefetch", href="//google-analytics.com")
    link(rel="preconnect", href="//fonts.gstatic.com/", crossorigin)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content=data.head.description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="index,follow")
    meta(name="google-site-verification" content="9P4FtusJunAS1pkZkQ_zCim0qapHt7_w9_Ly6WzrpkA")
    meta(name="theme-color", content="#ffffff")
    meta(name="msapplication-navbutton-color", content="#ffffff")
    meta(name="apple-mobile-web-app-status-bar-style" content="#ffffff")
    meta(content="telephone=no", name="format-detection")
    title= data.head.title
    link(rel="manifest",href="/assets/manifest.json")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    include googleAnalytics