{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": false,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": false,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "experimentalObjectRestSpread": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "restParams": true,
            "jsx": true
        }
    },
    "rules": {
        "quotes": [2, "single"],
        "comma-dangle": ["error", "never"],
        "strict": [2, "never"],
        "semi": [2, "always"],
        "max-len": "off"
    }
}
