.history
.idea
.htaccess
node_modules
dist
old
mail.php
package-lock.json
logo.afdesign
agnieszka-i-andrzej-plener
agnieszka-i-andrzej-slub
ania-i-kamil-plener
ania-i-kamil-slub
dorota-i-piotrek-plener
dorota-i-piotrek-slub
magda-i-grzesiek-plener
magda-i-grzesiek-slub
monika-i-pawel-plener
monika-i-pawel-slub