.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
}

.modal-show {
    overflow: hidden;
}

#close-modal {
    width: 100px;
    height: 30px;
    background: #000;
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    font-size: 11px;
    line-height: 30px;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
}