.home {
  h1 {
    text-transform: uppercase;
    padding: 20px 0;
    @include font-size(18);
    font-weight: normal;
    color: $color-gray-dark;
  }

  h2 {
    text-transform: uppercase;
    padding: 20px 0;

    a {
      @include font-size(18);
      text-decoration: none;
      color: $color-gray-dark;
      font-weight: normal;

      &:hover {
        border-bottom: 1px solid $color-gray-darken;
      }
    }
  }
}