.parallax-thumbnail {
    position: relative;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    margin: 10px 0 0;
    height: 40vw;
    @media (min-width: 1200px) {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

