block variables
- var DATA = self.htmlWebpackPlugin.options.DATA

doctype html
html(lang="pl" dir="ltr" class="about")

    include ./includes/head.pug
    include ./includes/menuItem.pug

    head
        +head(DATA)

    body
        +menuItem('about')
        h1 ABOUT ME
        img(src=DATA.body.image class="responsive")