block variables
- var path = self.htmlWebpackPlugin.options

doctype html
html(lang="pl" dir="ltr" class="contact")

    include ./includes/head.pug
    include ./includes/menuItem.pug

    head
        +head(path.file)

    body
        +menuItem('contact')
        h1 CONTACT
        img(src=path.file.body.image class="responsive")