block variables
- var DATA = self.htmlWebpackPlugin.options.DATA

doctype html
html(lang="pl" dir="ltr" class="index")

    include ./includes/head.pug
    include ./includes/menuItem.pug

    head
        +head(DATA)

    body
        +menuItem('index')
        h1 INDEX
        img(src=DATA.body.image class="responsive")