block variables
- var path = self.htmlWebpackPlugin.options.DATA

doctype html
html(lang="pl" dir="ltr" class="index")

    include ./includes/head.pug
    include ./includes/menuItem.pug

    head
        +head(path)

    body
        +menuItem('index')
        h1 INDEX
        img(src=path.body.image class="responsive")